<div id="tabs">
	<div id="nav">
		<ul class="clearfix">
			<li class="selected"><a href="/users/provider_index">Dashboard</a></li>
			<li><a href="/users/provider_profile">Profile</a></li>
			<li><a href="/users/provider_communicate">Communicate</a></li>
			<li><a href="/users/provider_appointment">Appointments</a></li>
		</ul>
	</div><!-- /nav -->
		
	<div class="main-content">
		
		<div id="trail">
			<span>You are here:</span> <a href="provider_index">Provider</a> &#187; Dashboard
		</div><!-- /trail -->

		<div class="inner-panel_sm_holder">
			<h2>Projects <a href="#" class="toggle tog01" title="expand/collapse"></a></h2>
			<div class="inner-panel_sm">
				
				<div id="taby_s1" class="clearfix">
					<ul class="indent">
						<li><a href="#taby_s1-1">Active</a></li>
						<li><a href="#taby_s1-2">Completed</a></li>
					</ul>
					
					<div id="taby_s1-1">
						<div class="proj-view">
							<h3><a href="/users/provider_project01">Project Title 1</a></h3>
							<ul>
								<li>Start date: <strong>1st April 2009</strong></li>
								<li>Last activity: <strong>4th April 2009</strong></li>
								<li>Estimated deadline: <strong>1st July 2009</strong></li>
								<li>Category: <strong>Web Development</strong></li>
								<li>Estimated budget: <strong>&#163;1000</strong></li>
								<li>Payment type: <strong>Fixed price</strong></li>
							</ul>
						</div><!-- /proj-view -->
						
						<div class="proj-view">
							<h3><a href="/users/provider_project01">Project Title 2</a></h3>
							<ul>
								<li>Start date: <strong>15th March 2009</strong></li>
								<li>Last activity: <strong>4th April 2009</strong></li>
								<li>Estimated deadline: <strong>15th July 2009</strong></li>
								<li>Category: <strong>Branding</strong></li>
								<li>Estimated budget: <strong>&#163;2500</strong></li>
								<li>Payment type: <strong>Fixed price</strong></li>
							</ul>
						</div><!-- /proj-view -->
						
						<div class="proj-view">
							<h3><a href="/users/provider_project01">Project Title 3</a></h3>
							<ul>
								<li>Start date: <strong>1st April 2009</strong></li>
								<li>Last activity: <strong>20 days ago</strong></li>
								<li>Estimated deadline: <strong>30th April 2009</strong></li>
								<li>Category: <strong>Web Development</strong></li>
								<li>Estimated budget: <strong>&#163;800</strong></li>
								<li>Payment type: <strong>Hourly rate</strong></li>
							</ul>
						</div><!-- /proj-view -->
						
						<div class="button">
							<a href="/users/provider_communicate" title="Find a job">Find a job</a>
						</div><!-- /button -->
						
						<div class="paggy">
							1 <a href="#">2</a> <a href="#">3</a> <a href="#">Next &gt;</a>
						</div><!-- /paggy -->
					</div><!-- /login -->
					
					<div id="taby_s1-2">
						<div class="proj-view">
							<h3><a href="/users/provider_project01">Project Title 4</a></h3>
							<ul>
								<li>Start date: <strong>1st April 2009</strong></li>
								<li>Last activity: <strong>4th April 2009</strong></li>
								<li><span class="edit">Estimated deadline: <strong>1st July 2009</strong></span></li>
								<li>Category: <strong>Web Development</strong></li>
								<li>Estimated budget: <strong>&#163;1000</strong></li>
								<li>Payment type: <strong>Fixed price</strong></li>
							</ul>
						</div><!-- /proj-view -->
						<div class="paggy">
							1 
						</div><!-- /paggy -->
					</div><!-- /taby_s1-2 -->
				</div><!-- /taby_s1 -->

			</div><!-- /inner-panel_sm -->
		</div><!-- /inner-panel_sm_holder -->
		
		<div class="inner-panel_sm_holder">
			<h2>Inbox <a href="#" class="toggle tog02" title="expand/collapse"></a></h2>
			<div class="inner-panel_sm">
				
				<div id="taby_s2" class="clearfix">
					<ul class="indent">
						<li><a href="#taby_s2-1">Messages</a></li>
						<li><a href="#taby_s2-2">Feedbacks</a></li>
					</ul>
					<div id="taby_s2-1">
						<span class="reload"><a href="#" title="Refresh Inbox">Refresh</a></span>
						<p>Sort by: <a href="#">Date</a> | <a href="#">From</a> | <a href="#">Subject</a></p>
						<p><a href="/users/provider_communicate_client" class="email-new">Compose new message</a></p>
						<dl>
							<dt><a href="/users/provider_project01">Project 1</a>: <em>Lorem ipsum dolor sit amet, conse adipisci elit</em></dt>
							<dd>Notifications: <a href="#">4 new</a></dd>
							<dd>Unread: <a href="#">7 messages</a></dd>
							<dd>Sent: <a href="#">100 messages</a></dd>
							
							<dt><a href="/users/provider_project01">Project 2</a>: <em>Lorem ipsum dolor sit amet, conse adipisci elit</em></dt>
							<dd>Notifications: 0</dd>
							<dd>Unread: <a href="#">2 messages</a></dd>
							<dd>Sent: <a href="#">10 messages</a></dd>
							
							<dt><a href="/users/provider_project01">Project 3</a>: <em>Lorem ipsum dolor sit amet, conse adipisci elit</em></dt>
							<dd>Notifications: <a href="#">4 new</a></dd>
							<dd>Unread: <a href="#">7 messages</a></dd>
							<dd>Sent: 0</dd>
						</dl>
						
						<div class="paggy">
							1 <a href="#">2</a> <a href="#">3</a> <a href="#">Next &gt;</a>
						</div><!-- /paggy -->
					</div><!-- /taby_s2-1 -->
					
					<div id="taby_s2-2">
						<h2>Awaiting Feedbacks</h2>
						<div class="proj-view">	
							<h3><a href="/users/provider_project01">Project Title 3</a></h3>
							<ul>
								<li>End date: <strong>1st April 2009</strong></li>
								<li>Client: <strong>Client 1</strong></li>
							</ul>
							<div class="button start"><a href="/provider_feedback">Provide feedback</a></div>
						</div><!-- /proj-view -->
						
						<div class="proj-view">
							<h3><a href="/users/provider_project01">Project Title 5</a></h3>
							<ul>
								<li>End date: <strong>1st April 2009</strong></li>
								<li>Client: <strong>Client 1</strong></li>
							</ul>
							<div class="button start"><a href="/provider_feedback">Provide feedback</a></div>
						</div><!-- /proj-view -->
						
						<div class="proj-view">
							<h3><a href="/users/provider_project01">Project Title 7</a></h3>
							<ul>
								<li>End date: <strong>1st April 2009</strong></li>
								<li>Client: <strong>Client 1</strong></li>
							</ul>
							<div class="button start"><a href="/provider_feedback">Provide feedback</a></div>
						</div><!-- /proj-view -->
						
						<div class="paggy">
							1 <a href="#">2</a> <a href="#">3</a> <a href="#">Next &gt;</a>
						</div><!-- /paggy -->
						
						<h2>Completed Feedbacks</h2>
						<div class="proj-view">	
							<h3><a href="/users/provider_project01">Project Title 3</a></h3>
							<ul>
								<li>End date: <strong>1st April 2009</strong></li>
								<li>Client: <strong>Client 1</strong></li>
							</ul>
						</div><!-- /proj-view -->
						
						<div class="proj-view">
							<h3><a href="/users/provider_project01">Project Title 5</a></h3>
							<ul>
								<li>End date: <strong>1st April 2009</strong></li>
								<li>Client: <strong>Client 1</strong></li>
							</ul>
						</div><!-- /proj-view -->
						
						<div class="proj-view">
							<h3><a href="/users/provider_project01">Project Title 7</a></h3>
							<ul>
								<li>End date: <strong>1st April 2009</strong></li>
								<li>Client: <strong>Client 1</strong></li>
							</ul>
						</div><!-- /proj-view -->
						
						<div class="paggy">
							1 <a href="#">2</a> <a href="#">3</a> <a href="#">Next &gt;</a>
						</div><!-- /paggy -->
					</div><!-- /taby_s2-2 -->
				</div><!-- /taby_s2 -->

			</div><!-- /inner-panel_sm -->
		</div><!-- /inner-panel_sm_holder -->
		
		<div class="inner-panel_sm_holder hang">
			<h2>Summary of Sessions <a href="#" class="toggle tog03" title="expand/collapse"></a></h2>
			<div class="inner-panel_sm">
				
				<div id="taby_s3" class="clearfix">
					<ul class="indent">
						<li><a href="#taby_s3-1">Time-based work</a></li>
						<li><a href="#taby_s3-2">Fixed-price work</a></li>
					</ul>
					
					<div id="taby_s3-1">
						<div class="proj-view">
							<h3>Instant Messenger</h3>
							<p>Number of sessions</p>
							<img src="../images/session-prev03.gif" alt="" title="" />
							<ul>
								<li>Total session time: <strong>15 hours</strong></li>
								<li>Total IM cost: <strong>&#163;1000</strong></li>
							</ul>
						</div><!-- /proj-view -->
						
						<div class="proj-view">
							<h3>Email</h3>
							<p>Number of emails</p>
							<img src="../images/session-prev03.gif" alt="" title="" />
							<ul>
								<li>Total session time: <strong>5 hours</strong></li>
								<li>Total email cost: <strong>&#163;500</strong></li>
							</ul>
						</div><!-- /proj-view -->
						
						<div class="proj-view">
							<h3>Webcam</h3>
							<p>Number of sessions</p>
							<img src="../images/session-prev04.gif" alt="" title="" />
							<ul>
								<li>Total session time: <strong>7 hours</strong></li>
								<li>Total webcam cost: <strong>&#163;100</strong></li>
							</ul>
						</div><!-- /proj-view -->
						
						<div class="proj-view">
							<h3>Phone</h3>
							<p>Number of phone calls</p>
							<img src="../images/session-prev02.gif" alt="" title="" />
							<ul>
								<li>Total session time: <strong>5 hours</strong></li>
								<li>Total phone cost: <strong>&#163;250</strong></li>
							</ul>
						</div><!-- /proj-view -->
						
						<div class="proj-view">
							<h3>Off-line work</h3>
							<p>Off-line work hours</p>
							<img src="../images/session-prev03.gif" alt="" title="" />
							<ul>
								<li>Total Off-line cost: <strong>&#163;100</strong></li>
							</ul>
						</div><!-- /proj-view -->
					</div><!-- /taby_s3-1 -->
					
					<div id="taby_s3-2">
						<div class="proj-view">
							<h3>Off-line work</h3>
							<p>Number of Fixed-time projects</p>
							<img src="../images/session-prev03.gif" alt="" title="" />
							<ul>
								<li>Total work hours: <strong>100 hours</strong></li>
								<li>Total fixed-price project cost: <strong>&#163;100</strong></li>
							</ul>
						</div><!-- /proj-view -->
					</div><!-- /taby_s3-2 -->
				</div><!-- /taby_s3 -->

			</div><!-- /inner-panel_sm -->
		</div><!-- /inner-panel_sm_holder hang -->
		<div class="clear c0">&nbsp;</div>
	</div><!-- /main-content -->
</div><!-- /tabs -->
