	<br />
	<br />
	<hr size="2" noshade="noshade" color="red" />
	<div style="text-align:center;font-size:10px;">
	P.O. Box 29168, Dubai, United Arab Emirates.&nbsp;<b style="margin-left:10px;">Tel:</b> +971 4 355 4134&nbsp;<b style="margin-left:10px;">Fax:</b> +971 4 3556160<br />
	<b>Email:</b> <a href="mailto:focusdir@emirates.net.ae">focusdir@emirates.net.ae</a>&nbsp;<b style="margin-left:10px;">Website:</b> <a href="http://www.focusdirect.net/">http://www.focusdirect.net/</a>
	</div>
</font>
</div>
