<div id="copyright"><b>my clone project 2008 &copy; All rights reserved</b></div>
	<div id="bottomLinks">
		<ul>
			
			<li><%= link_to 'Contact Us',:controller =>'page_contents',:action=>'view',:id=>'contact_us' %></li>
			<li><%= link_to 'Feedback', :controller => 'page_contents', :action => 'view',:id=> 'feedback' %></li>
			<li><%= link_to 'Terms', :controller => 'page_contents', :action => 'view',:id=> 'terms' %></li>
			<li><%= link_to 'Privacy', :controller => 'page_contents', :action => 'view',:id=> 'privacy' %></li>
		</ul>
	</div>