<div id="panelMail">
<div id="panelMailHeader" class="accordionTabTitleBar">Mails</div>
<div id="panelMailContent" class="accordionTabContentBox">
<ul>
    <li><%= link_to 'Email Client', :controller => '', :action => '' %></li>
    <li><%= link_to 'Inbox', '' %></li>
	<li><%= link_to 'Outbox', '' %></li>
</ul>
</div>
</div>
