<div id="panelMessage">
<div id="panelMessageHeader" class="accordionTabTitleBar">Messages</div>
<div id="panelMessageContent" class="accordionTabContentBox">
<ul>
    <li><%= link_to 'Send Message', :controller => '', :action => '' %></li>
    <li><%= link_to 'Inbox', :controller => '', :action => '' %></li>
    <li><%= link_to 'Outbox', :controller => '', :action => '' %></li>
</ul>
</div>
</div>
