
<div id="header">
	<div id="header-in">
			<img src="/images/logo1.gif" height="55px" alt="My Project Logo"/>
	   <div id="nav">
			<ul>
				<li class=""><a href="">Home</a></li>		
				<li class=""><a href="" title="Archives">Archives</a></li>
				<li class=""><a href="" title="Contact">Contact</a></li>
				<li class=""><a href="" title="About">About</a></li>
			</ul>
		</div>
		<div class="subscribe">
			<div class="subscribeform" style="text-align: center;">
			<ul>
			<li><a href="">Home</a></li>
			<li><a href="" title="Archives">login</a></li>
			</ul>
			 </div>
		</div>
	</div>
</div>

